<title>{{title}}</title>
<app-navication-home></app-navication-home>
<div class="title-header">
    <h1 class="heading">Gain Brain</h1>
    <div class="typing-animation">
        <p class="discription ">Where You can Learn and Sharp your Brain</p>
    </div>
</div>
<h1 class="course-title">Our Instructor</h1>
<div class="bodypart">
  
    <!-- new code comes here  -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
<div class="teamcontainer">
  <h1>The Team</h1>
  <div class="members">
    <div class="member">
      <img src="https://res.cloudinary.com/mlshv/image/upload/v1544033344/itc-web-course-flexbox/richard.png">
      <h2 class="member-name">Reghan</h2>
      <span class="member-role">React Developer</span>
    </div>
    <div class="member">
      <img src="https://res.cloudinary.com/mlshv/image/upload/v1544033285/itc-web-course-flexbox/dinesh.png">
      <h2 class="member-name">Manoj</h2>
      <span class="member-role">Senior Programmer</span>
    </div>
    <div class="member">
      <img src="https://res.cloudinary.com/mlshv/image/upload/v1544033357/itc-web-course-flexbox/gilfoyle.png">
      <h2 class="member-name">Naveen</h2>
      <span class="member-role">Angular Developer</span>
    </div>
    <div class="member"><img src="https://res.cloudinary.com/mlshv/image/upload/v1544033291/itc-web-course-flexbox/jared.png">
      <h2 class="member-name">Das</h2>
      <span class="member-role">Testing Engineer</span>
    </div>
  </div>
</div>
</div>
    <div class="emailsubcribe">
    <div class="container">
        <div class="inner">
            <div class="left">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/logo_copy.svg" alt="CompleteUI Logo" class="logo">

                <div class="content">
                    <h1>Complete <span>UI Design Course</span></h1>

                    <p>Tired of producing subpar UI designs? CompleteUI is an upcoming course created to help aspiring UI designers create work that's worthy of front-page dribble & behance</p>
                    <p class="light">CompleteUI is releasing before 2023 on Gain Brain & other networks.</p>
                </div>
            </div>
            <div class="right">
                <p>Get notified when I release this course!</p>

                <input type="text" name="email" id="email" placeholder="your email">
                <button>Notify Me</button>

                <div class="attention">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/me.jpg" alt="Gary Simon Avatar" class="me">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow_copy.svg" alt="Arrow pointing to email form" class="arrow">
                </div>
            </div>
        </div>
    </div>
    </div>   
    <div class="footer">
        <p class="discription">Copyright © 2023 All rights reserved</p>
    </div>







<!-- <button (click)="Httpreq()">click</button> -->